
body{
    background-color: #edf4f7;
    margin: 0;
    font-family: 'Yantramanav';
    font-weight: 400;
    color: #0f191f;
}

.navbar{
    margin-left: 0;
    margin-right: 0;
    border: 1px;
    display: flex;
    flex-direction: row;;
    margin-bottom: 50px;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}
.navbar > .icon-logo-container{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 0;
}
.icon-logo-container > .icon-logo{
    text-align:center;
    align-items: center;
    justify-content: center;
}

.icon-logo > .logo{
    width: 175px;
}

.navbar > .text-choice-container{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    align-items: center;
    width: 75%;
}

.text-choice-container > .text-choice{
    color:#2f5365;
    margin-left: 30px;
}

.text-choice-container > .login-logout-choice-container{
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color:#2f5365;
}


h1, h2, h3, h4, h5 {
    font-family: 'Yantramanav';
    font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}