
.navbar{
    margin-left: 0;
    margin-right: 0;
    border: 1px;
    display: flex;
    flex-direction: row;;
    align-items: center;
}
.navbar > .icon-logo-container{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 0;
}
.icon-logo-container > .icon-logo{
    text-align:center;
    align-items: center;
    justify-content: center;
}
.icont-logo > a{
    width: 175px;
}
.icon-logo > .logo{
    width: 175px;
}

.navbar > .text-choice-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 75%;
    justify-content: center;
}

.text-choice-container > .text-choice h5{
    color:#2f5365;
    /* margin-left: 20px;
    margin-right: 20px; */
    margin: 50px;
    letter-spacing: 0.2rem;
    font-weight: 200;
}

.login-logout-choice-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color:#2f5365;

}

/* navbar links */
.a-header{
    color: #0f191f;
    text-decoration:none;
}
.a-header :link{
    color: #0f191f;
    background-color: transparent;
    text-decoration: none;
}
.a-header :visited{
    color: #0f191f;
    background-color: transparent;
    text-decoration: none;
}
.a-header :hover{
    color: #9e4c99;
    background-color: transparent;
    text-decoration: dotted;
}

.icon-logo a {
    display: inline-block;
}

.icon-logo img {
    width: 175px;
    height: auto;
    /* Prevent the image from enlarging */
    transition: none;
}